body{
	background: rgb(40, 39, 41);
}

#main-title{
	background: rgb(67, 66, 68);
	color:whitesmoke;
	text-align: center;
}

#welcome{
	color:whitesmoke;
}

#chatBox{
	height: 400px;
	max-width: auto;
	overflow-y: scroll;
}

li{
	color:whitesmoke;
	text-align: left;
}

#login-box, .container, #myForm{
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

#pvt-collumn {
	border: 1px solid whitesmoke;
	color:whitesmoke;
	float: left;
}