body{
	background: rgb(40, 39, 41);
}

#main-title{
	background: rgb(67, 66, 68);
	color:whitesmoke;
	text-align: center;
}

#welcome{
	color:whitesmoke;
}

#txt-area{
    width: 210%;
    height: auto;
    flex:auto;
}

#chatBox{
    height: 400px;
    min-width: 50vw;
	max-width: 50vw;
    overflow-y: scroll;
    margin-left:0;
}

li{
	color:whitesmoke;
	text-align: left;
}

#login-box, .container, #myForm{
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

#pvt-collumn {
	border: 1px solid whitesmoke;
	color:whitesmoke;
	float: left;
}

