<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grupo2-onlineChat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="container">
		<h1 id= "main-title" class="jumbotron">
			Grupo 2 Chat
		</h1>
		<div id="app" class="row" style="margin-top: 70px;">
			<div v-if="state==0" id="login-box">
				<h3 id="welcome"> Welcome!</h3><br>
				<form @submit.prevent="login" id="myForm" class="form-row">
					<input type="email" class="form-control" style="width: 200px;margin:2px;" placeholder="email@domain.com" v-model="email">
					<input type="password" class="form-control" style="width: 200px;margin:2px;" placeholder="Password" v-model="password">
					<input type="text" class="form-control" style="width: 200px;margin:2px;" placeholder="Join as" v-model="username">
					<input type="submit" value="Login" class="btn btn-success" style="margin-inline-start:62%">
				</form>
					<button @click="registUser" class="btn btn-success" style="margin-inline-end: 24%;margin-block-start:-17%">Regist Now</button>
			</div>
			<br>
			<div v-if="state==1" >
				<div id="chatArea">
					<ul id="chatBox">
						<li v-for="message in messages" id="messageRow">
							<b>	{{message.user}} : </b> {{message.message}}
						</li>
					</ul>
				</div>		
				<div class="col-md-6">
					<form @submit.prevent="sendMessage" class="form-row">
						<div class="form-group">
							<textarea type = "text" placeholder="Message..." v-model="message" class="form-control" style="width: 210%;height: auto;" v-on:keyup.enter="sendMessage"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" value="Send" class="btn btn-success" style="float:left;">
						</div>
					</form>
                </div>
                <div id="userbox" style="position: absolute; left: 10%; top: 30%; ">
                    <ul v-for="user in users" style="color: whitesmoke;">
                        {{user}}
                    </ul>
                </div>
			</div>
			<br>
			<div v-if="state==2" id="login-box">
				<h3 id="welcome"> Register!</h3><br>
				<form @submit.prevent="register" id="myForm" class="form-row align-items-center">
					<input type="email" class="form-control" style="width: 200px;margin:2px;" placeholder="email@domain.com"id="email" v-model="email"> 
					<input type="password" class="form-control" style="width: 200px;margin:2px;" placeholder="Password" id="password" v-model="password">		
					<input type="submit" value="Regist" class="btn btn-success" style="margin:2px;">
				</form>
            </div>
        </div>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script>
		var socket = null;
		var app = new Vue({
			el:'#app',
			data:{
				message: '',
				messages: [],
				email: '',
				password: '',
				username: '',
				users: [],
                state: 0,
                socketID: '',
			},
			methods:{
				sendMessage: function () {
                    message = this.message.replace(/^\n|\n$/g, '');
                    this.message = '';
                    if(message){
                        console.log(message);
                        socket.emit('sending message', message);
					    this.message = '';
                    }		
				},
				login: function () {
					socket.emit('login', {email: this.email, password: this.password, username: this.username});
					this.email = '';
					this.username = '';
					this.password = '';
				},
				registUser: function () {
					this.email = '';
					this.username = '';
					this.password = '';	
					this.state = 2;
				},
				register: function () {
					socket.emit('regist', {email: this.email, password: this.password});
					this.email = '';
					this.username = '';
					this.password = '';
					this.state = 0;
                },
                SendPM: function() {
                    message = this.message.replace(/^\n|\n$/g, '');
                    this.message = '';
                    if(message){
                        socket.emit('PM', {socketID: this.socketID, msg: message });
                        this.message = '';
                        
                    }
                },
			},
			created: function () {
				socket = io();
			},
			mounted: function () {

				socket.on('message', function (message) {
					app.messages.push(message);
					app.$nextTick(function (){
						var messageBox = document.getElementById('chatBox');
						messageBox.scrollTop = messageBox.scrollHeight;
					});
                });
                socket.on('whisper', function (message) {
                    message.user = "private message from "+message.user;
					app.messages.push(message);
					app.$nextTick(function (){
						var messageBox = document.getElementById('chatBox');
						messageBox.scrollTop = messageBox.scrollHeight;
					});
                });
                socket.on('whisper sender', function (message) {
                    message.user = "private message to "+message.user;
					app.messages.push(message);
					app.$nextTick(function (){
						var messageBox = document.getElementById('chatBox');
						messageBox.scrollTop = messageBox.scrollHeight;
					});
				});
				socket.on('joining', function(data){
                    app.users = [];
                    app.state = 1;
                    for(i=0; i < data.length; i++)
                    {
                        app.users.push(data[i]);
                    }
                });
                socket.on('updatelist', function(data){

                    app.users = [];

                    for(i=0; i < data.length; i++)
                    {
                        app.users.push(data[i]);
                    }
                });
                socket.on('loadMessages',function(data){
                    data.forEach(element => {
                        app.messages.push({
                            user: element.user, message: element.msg
                        });
                    });
                    
                    app.$nextTick(function (){
						var messageBox = document.getElementById('chatBox');
						messageBox.scrollTop = messageBox.scrollHeight;
					});
                });
                socket.on('getID', function (sID) {
                    this.socketID = sID;
                });
                

                
			},
		});
	</script>
</body>
</html>